.banner {
    /* Centrer */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 200px;
}

.banner__content {
    /* Positionner */
    display: flex;
    flex-direction: row; /* direction du content*/
    justify-content: space-between;
    /* Responsive */
    width: 80%;
}

.banner__content__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color : #FFFFFF;
}

.banner__content__left h1{
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.banner__content__left p{
    font-weight: 500;
    margin: 0;
    padding-top: 15px;
}

.banner__content__left div{
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    margin: 30px 0 0;
}


.right__video__button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    gap: 10px;

}

.right__video__button a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
}

hover.right__video__button a{
    text-decoration: underline;
}

.right__video__button svg{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}


.banner__content__right {
    display: flex;
    justify-content: flex-end; /* content aligné sur la fin droite de son parent*/
    margin: 0;
    padding: 0;
}

.banner__content__right section figure{
    width: 120%;
}

.banner__content__right section figure img{
    width: 100%;
    height: auto;
}