
html {
    background-color: #302E44;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

body {
    display: flex;
    font-size: 0.875rem;
    width: 100%;
    justify-content: center;
}

main {
    display: flex;
}
