/* HEADER */
header {
    position: fixed;
    top: 0;
    /*Inside header*/
    flex-direction: row;
    margin: 0;
    padding: 20px 0 20px 0;
    display: flex;
    background-color:#ffffff;
    justify-content: center;
    /*Header form*/
    width: 90%;
    height: 12vh;
    border-radius: 0 0 30px 30px;
    /*Transitions*/
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}

    .header.active {
        transform: translateY(-100%);
    }


    .header.hidden {
    opacity: 0;
}


.header__wrapper{
    display: flex;
    margin: 0;
    padding: 0;
    width: 89%;
    justify-content: center;
}


.header__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    padding: 0;
    align-items: center;
}

/* LEFT GROUP */

.header__left{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    max-width: 20vw;
    gap: 30px;
}

.header__left__text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.header__left__text li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-weight: normal;
    text-wrap: nowrap;
}

.header__left__text a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}



/* NAVIGATION */

.header__navigation {
    display: flex;
    flex-direction: row;
    margin : 0;
    font-weight: 600;
    padding: 0;
    width: 100%;
}

.header__proper__navigation {
    display: flex;
    margin:  0;
    padding : 0;
}

header nav ul li {
    display: flex;
}

header nav ul li a {
    display: flex;
    margin: auto;
    text-decoration: none;
    color : #302E44;
}


/*MIDDLE GROUP*/

.header__middle{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

/* Image */

.header__logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}

/* RIGHT GROUP */

.header__right{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
}

.header__right__text{
    display: flex;
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
    justify-content: space-between;
}

.header__login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header__login svg {
    display: flex;
    margin: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
}



.login:hover {
    color : #00EA99;
    text-decoration: underline;
}

/* Button section header */

.header__action__buttons {
    display: flex;
    flex-direction: row;
    padding : 0;
    margin: 0;
    gap: 20px;
}

/*Menu burger*/

.menu__burger {
    display: none;
}