/* HEADER */
header {
    position: fixed;
    top: 0;
    /*Inside header*/
    flex-direction: row;
    margin: 0;
    padding: 20px;
    display: flex;
    background-color:#ffffff;
    justify-content: center;
    /*Header form*/
    width: 80vw;
    height: 12vh;
    border-radius: 0 0 30px 30px;
    /*Transitions*/
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

    .header.active {
        transform: translateY(-100%);
    }


.header.hidden {
    opacity: 0;
}

.header__content{

}

/* LEFT GROUP */

.left__group{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    max-width: 20vw;

}

.text__left{
    padding-bottom: 20px;
}


/* NAVIGATION */

header nav {
    display: flex;
    flex-direction: row;
    margin : 0;
    font-weight: 600;
    padding: 0;
    width: 50%;

}

header nav ul {
    display: flex;
    margin:  0;
    padding : 0;
}

header nav ul li {
    display: flex;
}

header nav ul li a {
    display: flex;
    margin: auto;
    text-decoration: none;
    color : #302E44;
}

.first_li {
    padding: 0;
}

/*MIDDLE GROUP*/

.middle__group{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

/* Image */

figure {
    display: flex;
    margin: 0 auto;
    padding: 0;
}

figure img {
    display: block;
    margin: auto;
    padding: 0;
    max-width: 100%;
    height: auto;
    visibility: visible;
}

/* RIGHT GROUP */

.right__group{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    max-width: 20vw;
}

.right__text{
    font-size: 11px;
    padding : 20px;
    margin: 0;
    text-align: center;
    cursor: pointer;
}



.login:hover {
    color : #00EA99;
    text-decoration: underline;
}

/* Button header */
header .wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    width: 80%;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    padding : 0;
    margin: 0;
    gap: 20px;
}

.btn__1 {
    display: flex;
    margin: auto;
    padding: 10px 20px 10px 20px;
    border : #302E44 1px solid;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-direction: row;
    background-color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    max-width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.btn__2 {
    display: flex;
    margin: auto;
    border: none;
    justify-content: center;
    border-radius: 5px;
    background-color: #00EA99;
    text-decoration: none;
    font-weight: 600;
    max-width: 100%;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.btn__2 a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;;
    font-weight: 600;
    max-width: 100%;
    cursor: pointer;
}

.btn__1 a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;;
    font-weight: 600;
    max-width: 100%;
    cursor: pointer;
}

.buttons :hover {
    background-color: #00EA99;
    color : #FFFFFF;
    transition: 0.2s;
}


/*Menu burger*/

.menu__burger {
    display: none;
}