/* MEDIA QUERIES */

/*MQ Mobile*/
@media (max-width: 480px) {
    body {
        display: flex;
        flex-direction: row;
        font-size: 0.75rem;
        justify-content: center;

    }

    figure {
        display: flex;
        margin: auto;
        padding: 0;
        width: 70%;
        height: 70%;
    }

    .left__group {
        display: none;
        visibility: hidden;
    }

    .right__group {
        display: none;
        visibility: hidden;
    }

    .banner__inner__right section {
        display: none;
        visibility: hidden;
    }

    .btn__bi__right{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: auto;
        font-size: 0.75rem;
    }

    .btn__bi__left {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: auto;
        font-size: 0.75rem;
    }

    .banner__inner__left{
        padding-bottom: 60px;
    }

}




/*MQ Tablettes*/
@media (max-width: 768px) {
    body {
        font-size: 0.875rem;
    }

    .left__group {
        display: none;
        visibility: hidden;
    }

    .right__group {
        display: none;
        visibility: hidden;
    }

    .banner__inner__right section {
        display: none;
        visibility: hidden;
    }

    .banner__inner__left{
        padding-bottom: 60px;
    }
}




/*MQ Desktop*/

    @media (max-width: 1280px) {
    .banner__inner__right section {
        display: none;
        visibility: hidden;
    }

    .banner__inner__left{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .banner__inner__left h1 {
        display: flex;
        font-size: 1.75rem;
        align-items: center;
        justify-content: center;
    }

        .banner__inner__left{
            padding-bottom: 60px;
        }
}

/*MQ Widescreens*/
@media (max-width: 1700px) {

    .left__group {
        display: none;
        visibility: hidden;
    }


}

