/* MEDIA QUERIES */

/*MQ Mobile*/
@media (max-width: 480px) {
    body {
        display: flex;
        flex-direction: row;
        font-size: 0.75rem;
        justify-content: center;

    }

    figure {
        display: flex;
        margin: auto;
        padding: 0;
        width: 70%;
        height: 70%;
    }

    .right__group {
        display: none;
        visibility: hidden;
    }

    .banner__inner__right section {
        display: none;
        visibility: hidden;
    }

    .btn__bi__right{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: auto;
        font-size: 0.75rem;
    }

    .btn__bi__left {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: auto;
        font-size: 0.75rem;
    }

    .banner__inner__left{
        padding-bottom: 60px;
    }
    .menu__burger{
        display: flex;
        color: black;
    }

}




/*MQ Tablettes*/
@media (max-width: 768px) {
    body {
        font-size: 0.875rem;
    }

    .right__group {
        display: none;
        visibility: hidden;
    }

    .banner__inner__right section {
        display: none;
        visibility: hidden;
    }

    .banner__inner__left{
        padding-bottom: 60px;
    }
    .menu__burger{
        display: flex;
        color: black;
    }

    .text__left a{
        display: none;
    }

}




/*MQ Desktop*/

    @media (max-width: 1540px) {
    .banner__inner__right section {
        display: none;
        visibility: hidden;
    }

        .header{
            justify-content: start;
        }

    .banner__inner__left{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .banner__inner__left h1 {
        display: flex;
        font-size: 1.75rem;
        align-items: center;
        justify-content: center;
    }

        .banner__inner__left{
            padding-bottom: 60px;
        }

        .header__navigation {
            font-size: 0.875rem;
            display: none;
        }

        .middle__group figure {
            width: 70%;
        }

        .text__left a{
            display: none;
        }

        .right__text a{
            display: none;
        }

        .right__group{
            display: none;
        }

        .menu__burger{
            display: flex;
            align-items: center;
            justify-content: start;
            color: #00EA99;
        }

        .left__group{
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
        }

        .menu__burger{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            align-self: center;
        }

        .menu__burger svg{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            align-self: center;
            margin: auto;
            width: 100%;
            height: 100%;
        }

}
