.our__team{
    display: flex;
    background-color: #ffffff;
    margin: 0;
    width: 100%;
    padding-top: 138px;
}

.our__team__wrapper{
    display: flex;
    width: 63.5vw;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.our__team__wrapper span{
   color: #00EA99;
}

.our__team__wrapper h1{
    padding-bottom: 50px;
}

.team__top__card{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    padding-bottom: 50px;
}

.image__testimony{
    display: flex;
}

.img__testimony{
    margin: 0;
    padding: 0;
}

.image__testimony img{
    margin: 0;
    padding: 0;
}

.team__card{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
}

.team__card .testimony{
    position: absolute;
    z-index: 1;
    bottom: 95px;
    background-color: #302E44;
    height: 12vh;
    width: 100%;
}

.testimony{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimony a{
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.team__bot__card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}