.separator__1{ ;
    border-top: 2px solid #ffffff; /* Vous pouvez personnaliser l'épaisseur, la couleur et le style de la ligne */
    width: 100%; /* Pour que la ligne s'étende sur toute la largeur */
    margin-bottom: 50px;
}