.stats {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
    color: white;
}

.under__banner{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
}

.under__banner__content{
    display: flex;
    flex-direction: row;
    width: 80vw;
}

.statistiques{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 70px 0;
    justify-content: space-between;
}

.statistiques ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.under__banner__content button{
    display: flex;
    border: none;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #00EA99;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 0 0 0;
    white-space: nowrap;
    height: 50px;
}