
html {
    background-color: #302E44;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 0.875rem;
}

/* HEADER */
header {
    display: flex;
    background-color : #FFFFFF;
    height: 130px;
    max-width: 80vw;
    margin: 0;
    font-size: 14px;
    border-radius: 0 0 30px 30px;
    justify-content: space-evenly;

}


/* LEFT GROUP */

.left__group{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    max-width: 20vw;
}

.left__group .text__left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 11px;
}


/* NAVIGATION */

header nav {
    display: flex;
    flex-direction: row;
    margin : 0;
    align-items: center;
    font-weight: 600;
    color : #302E44;

}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:  0;
    color : #302E44;
    padding : 0;
}

header nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul li a {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto;
    font-size: 14px;
    text-decoration: none;
    color : #302E44;
    padding: 0 0 0 15px;
}

.first_li {
    padding: 0;
}

/*MIDDLE GROUP*/

.middle__group{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    max-width: 40vw;
    align-items: center;
}

/* Image */

figure {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    visibility: visible;
}

figure img {
    display: block;
    margin: auto;
    padding: 0;
    max-width: 100%;
    height: auto;
    visibility: visible;
}

/* RIGHT GROUP */

.right__group{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    max-width: 20vw;
}

.right__text{
    font-size: 11px;
    padding : 0;
    margin: 0;
    text-align: center;
}


/* Button header */
header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin: 5px;
    max-width: 40vw;

}

.buttons {
    padding : 0;
    margin: 0;
    box-sizing: border-box;

}

.btn__1 {
    display: flex;
    margin: auto;
    padding: 10px 20px 10px 20px;
    border : #302E44 1px solid;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-direction: row;
    background-color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    max-width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.btn__2 {
    display: flex;
    margin: auto;
    border: none;
    justify-content: center;
    border-radius: 5px;
    background-color: #00EA99;
    text-decoration: none;
    font-weight: 600;
    max-width: 100%;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.btn__2 a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;;
    font-size: 14px;
    font-weight: 600;
    max-width: 100%;
    cursor: pointer;
}

.btn__1 a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;;
    font-size: 14px;
    font-weight: 600;
    max-width: 100%;
    cursor: pointer;
}

.buttons :hover {
    background-color: #00EA99;
    color : #FFFFFF;
    transition: 0.2s;
}

/* MEDIA QUERIES */

/*MQ Tablettes*/
@media (max-width: 768px) {
    body {
        font-size: 0.875rem;
    }
    header {
        
    }
}
/*MQ Mobile*/
@media (max-width: 480px) {
    body {
        font-size: 0.75rem;
    }
}

/*MQ Widescreens*/
@media (max-width: 1280px) {

}

