.our__team{
    display: flex;
    background-color: #ffffff;
    margin: 0;
    width: 100%;
    padding: 138px 0 80px 0;
}

.our__team__wrapper{
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.our__team__wrapper span{
   color: #00EA99;
}

.our__team__wrapper p{
    padding-bottom: 50px;
    font-size: 3rem;
    font-weight: bold;
}

.team__top__card{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    padding-bottom: 50px;
}

.image__testimony{
    display: flex;
}

.img__testimony{
    margin: 0;
    padding: 0;
}

.image__testimony img{
    margin: 0;
    padding: 0;
}

.team__card{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.team__card h3{
    font-size: 16px;
    font-weight: lighter;
}

.team__card .see__testimony{
    position: absolute;
    z-index: 1;
    bottom: 93px;
    background-color: #302E44;
    height: 12vh;
    width: 100%;
}

.see__testimony{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.see__testimony a{
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.team__bot__card{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 30px;
}

.team__card:hover{
    transform: translateY(-20px);
    transition: transform 0.5s ease-in-out;
    .see__testimony{
        visibility: visible;
        transform: translateY(0);
        transition: transform 0.5s ease-in-out;
    }
}