.free__trial{
    background-color: #F5F5F5;
    width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

.free__trial__wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #302E44;
    color: white;
    border-radius: 0 0 50px 50px;

}

.free__trial__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 110px 100px 110px 100px;
}

.free__trial__right__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.free__trial__right__content figure{
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.free__trial__left__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    gap: 20px;
}

.free__trial__left__content button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    gap: 20px;
    padding: 20px;
    width: 60%;
}

.free__trial__left__content span {
    color: #00EA99;
}