/* HEADER */
/* Style pour l'en-tête fixe en haut de la page */
header {
    position: fixed;
    top: 0;
    flex-direction: row; /* Direction horizontale pour les éléments enfants */
    margin: 0;
    padding: 20px 0 20px 0; /* Espacement intérieur du header */
    display: flex; /* Afficher les éléments enfants en ligne */
    background-color: #ffffff; /* Couleur de fond blanche */
    justify-content: center; /* Centrer les éléments horizontalement */
    width: 90%; /* Largeur du header */
    height: 12vh; /* Hauteur du header */
    border-radius: 0 0 30px 30px; /* Coins arrondis en bas */
    transform: translateY(0); /* Décalage vertical initial */
    transition: transform 0.5s ease-in-out; /* Animation de transition en cas de transformation */
    z-index: 2; /* Couche z-index pour le positionnement */
}

/* Styles pour le header actif (menu déroulé vers le haut) */
.header.active {
    transform: translateY(-100%); /* Animation de translation vers le haut */
}

/* Style pour le header caché */
.header.hidden {
    opacity: 0; /* Opacité à zéro pour le masquage */
}

/* Conteneur principal du header */
.header__wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    width: 89%;
    justify-content: center;
}

/* Contenu du header */
.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    padding: 0;
    align-items: center;
    position: relative;
    z-index: 0;
}

/* LEFT GROUP */
/* Groupe de navigation à gauche */
.header__left {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    max-width: 20vw;
    gap: 30px;
}

/* Texte à gauche du header */
.header__left__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

/* Styles pour les éléments de texte à gauche */
.header__left__text li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-weight: normal;
    white-space: nowrap; /* Empêcher le renvoi à la ligne du texte */
}

.header__left__text a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

/* NAVIGATION */
/* Navigation principale */
.header__navigation {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-weight: 600;
    padding: 0;
    width: 100%;
}

/* Liste des éléments de navigation */
.header__proper__navigation {
    display: flex;
    margin: 0;
    padding: 0;
}

/* Styles pour les éléments de la navigation */
header nav ul li {
    display: flex;
}

header nav ul li a {
    display: flex;
    margin: auto;
    text-decoration: none;
    color: #302E44;
}

/* MIDDLE GROUP */
/* Groupe au milieu du header */
.header__middle {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

/* Logo au milieu */
.header__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}

/* RIGHT GROUP */
/* Groupe de droite */
.header__right {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
}

/* Texte à droite du header */
.header__right__text {
    display: flex;
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
    justify-content: space-between;
}

/* Icône et lien de connexion */
.header__login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header__login svg {
    display: flex;
    margin: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
}

/* Style au survol du lien de connexion */
.login:hover {
    color: #00EA99;
    text-decoration: underline;
}

/* Boutons d'action du header */
.header__action__buttons {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 20px;
}

/* Menu burger (caché dans cette version) */
.menu__burger {
    display: none;
}

.open__menu{
    display:flex;
    flex-direction: row;
    color: #2F2E41;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 130px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    background: white;
    visibility: hidden;
}


.open__menu__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}

.open__menu__txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
    margin: 0;
    color: rgba(47, 46, 65, 0.5);
}

.open__menu__txt ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.open__menu__txt li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 5px;
}

.open__menu__txt a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.open__menu__txt h2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    width: 70%;
}