/* HEADER */
/* Style pour l'en-tête fixe en haut de la page */
header {
    position: fixed;
    top: 0;
    flex-direction: row; /* Direction horizontale pour les éléments enfants */
    margin: 0;
    padding: 20px 0 20px 0; /* Espacement intérieur du header */
    display: flex; /* Afficher les éléments enfants en ligne */
    background-color: #ffffff; /* Couleur de fond blanche */
    justify-content: center; /* Centrer les éléments horizontalement */
    width: 90%; /* Largeur du header */
    height: 12vh; /* Hauteur du header */
    border-radius: 0 0 30px 30px; /* Coins arrondis en bas */
    transform: translateY(0); /* Décalage vertical initial */
    transition: transform 0.5s ease-in-out; /* Animation de transition en cas de transformation */
    z-index: 2; /* Couche z-index pour le positionnement */
}

/* Styles pour le header actif (menu déroulé vers le haut) */
.header.active {
    transform: translateY(-100%); /* Animation de translation vers le haut */
}

/* Style pour le header caché */
.header.hidden {
    opacity: 0; /* Opacité à zéro pour le masquage */
}

/* Conteneur principal du header */
.header__wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    width: 89%;
    justify-content: center;
}

/* Contenu du header */
.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    padding: 0;
    align-items: center;
    position: relative;
    z-index: 0;
}

/* LEFT GROUP */
/* Groupe de navigation à gauche */
.header__left {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    max-width: 20vw;
    gap: 30px;
}

/* Texte à gauche du header */
.header__left__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

/* Styles pour les éléments de texte à gauche */
.header__left__text li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-weight: normal;
    white-space: nowrap; /* Empêcher le renvoi à la ligne du texte */
}

.header__left__text li a{
    transition: transform 0.2s ease-in-out; /* Ajoute une transition fluide */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.header__left__text li a:hover{
   text-decoration: none;
    transform: scale(1.05); /* Fait grossir légèrement */
    transition: transform 0.2s ease-in-out; /* Ajoute une transition fluide */
    background: #00EA99;
    color: black;
    padding: 2px;
    border-radius: 5px;

}



.header__left__text a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

/* NAVIGATION */
/* Navigation principale */
.header__navigation {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-weight: 600;
    padding: 0;
    width: 100%;
}

/* Liste des éléments de navigation */
.header__proper__navigation {
    display: flex;
    margin: 0;
    padding: 0;
}

.header__proper__navigation a{
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.header__proper__navigation a:hover{
    text-decoration: none;
    transform: scale(1.05); /* Fait grossir légèrement */
    transition: transform 0.2s ease-in-out; /* Ajoute une transition fluide */
}



.nav-link-container {
    display: flex;
    margin: 0;
    padding: 0;
}

/* Styles pour les éléments de la navigation */
header nav ul li {
    display: flex;
}

header nav ul li a {
    display: flex;
    margin: auto;
    text-decoration: none;
    color: #302E44;
}

/* MIDDLE GROUP */
/* Groupe au milieu du header */
.header__middle {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

/* Logo au milieu */
.header__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500%;
    padding: 0;
    margin: 0;
    align-items: center;
}

/* RIGHT GROUP */
/* Groupe de droite */
.header__right {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
}

/* Texte à droite du header */
.header__right__text {
    display: flex;
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
    justify-content: space-between;
}

/* Icône et lien de connexion */
.header__login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 20px;

}

.header__login svg {
    display: flex;
    margin: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
}

/* Style au survol du lien de connexion */
.login:hover {
    color: #00EA99;
    text-decoration: underline;
}

/* Boutons d'action du header */
.header__action__buttons {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 20px;
}

/* Menu burger (caché dans cette version) */
.menu__burger {
    display: none;
}

.menu__burger img{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu__burger figure{
    display: flex;
    margin: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.open__menu{
    display:none;
    flex-direction: row;
    color: #2F2E41;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    background: white;
}

.open__menu.active{
    display: flex;
}


.open__menu__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}

.open__menu__txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
    margin: 0;
    color: rgba(47, 46, 65, 0.5);
    text-decoration: none;
}

.open__menu__txt ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.open__menu__txt li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 5px;
}

.open__menu__txt a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #302E44;
}

.open__menu__txt h2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    width: 70%;
}

.header__contact__number{
    text-decoration: none;
    color: #302E44;
    transition: transform 0.2s ease-in-out; /* Ajoute une transition fluide */
}


.header__contact__number:hover{
    text-decoration: none;
    color: #302E44;
    transform: scale(1.05); /* Fait grossir légèrement */
    transition: transform 0.2s ease-in-out; /* Ajoute une transition fluide */
}

.header__contact__number:hover span{
    color: #00EA99;
}


.login{
    text-decoration: none;
    color: #302E44;
}

.menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #302E44;
    position: absolute;
    height: 100%;
    width: 35%;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    z-index: 3;
}


.no-scroll {
    overflow: hidden;
}


.menu a{
    color: white;
    text-decoration: none;
}

.menu.active {
    display: flex;
}

.menu__header{
    display: flex;
    flex-direction: row;
    background: white;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    padding: 20px;
}

.menu__inside{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    gap: 50px;
    padding: 20px;
}

.go__back{
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    visibility: hidden;
}

.menu__inside a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}

.menu__inside p{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}

.menu__inside figure{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}

.mobile__proper__navigation{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 50px;
}

.button__green{
    display: flex;
    padding: 20px;
    border : #302E44 1px solid;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-direction: row;
    background-color: #00EA99;
    text-decoration: none;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    margin: 0;
}

.button__black{
    display: flex;
    padding: 20px;
    border : #ffffff 1px solid;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-direction: row;
    background-color: #302E44;
    text-decoration: none;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    margin: 0;
    color: white;
}

.menu__buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.menu__inside svg{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
}
.menu__login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.menu__login a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linkedin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linkedin figure{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.menu__logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu__logo figure{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.menu__close{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu__close figure{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.page-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente pour le fond d'arrière-plan */
    z-index: 999; /* Placez-le au-dessus de tout le contenu */
}

.page-overlay.active {
    display: block;
}

.go__back{
    display: none;
}
