
html {
    background-color: #302E44;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: #302E44;
    scroll-behavior: smooth;

}

body {
    display: flex;
    font-size: 0.875rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scroll-container{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100vw;
    height: 100vh;
}


/*Scrollbar*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}